/* Add a black background color to the top navigation */
@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC|Krub|Lora|Patrick+Hand|Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Chewy|Cinzel+Decorative|Handlee|Heebo|Libre+Baskerville|Lilita+One|Raleway');


/* 
font-family: 'Source Code Pro',  monospace;

font-family: 'Charm', cursive;

font-family: 'Passion One',cursive;

font-family: 'Poppins', sans-serif;

font-family: 'Mukta',sans-serif;

font-family: 'Lora',serif;

font-family: 'EB Garamond', serif; 

font-family: 'Muli', sans-serif;

font-family: 'Ubuntu', sans-serif;

font-family: 'Special Elite',cursive;

font-family: 'Gloria Hallelujah',cursive;

font-family: 'Open Sans',sans-serif;

font-family: 'Roboto',sans-serif;

 font-family: 'B612', sans-serif ;   
 */
/* sass vars */
/* html styles */

* {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Muli', sans-serif;
    background-color: black;
 
    
}

a {
    text-decoration: none;
    text-align: center;
    
}

.logo {

  width: 200px;
    float: left;
  
}


hr{
   margin: auto;
  width:50%;
  padding: 6px;
    color:#5F9EA0;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
  background-color: rgba(0,0,0, 0.4);
    color:#5F9EA0;
   text-align: center;
}


.header {
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
  background-color: rgba(0,0,0, 0.4);
    color:#5F9EA0;
   text-align: center;
}


.bingo{
    
    color:white;
    font-family: 'Gloria Hallelujah',cursive;
    font-size: 1.5em;
    border-bottom: 2px solid White;

}

#output {
    color:#B0C4DE;
    font-family: 'Source Code Pro',  monospace;
    font-size: 1.5em;
}



.container {
 
 display: flex;
 justify-content:space-evenly;
  margin: auto;
  min-width:80%;
  padding: 6px;

}


.top-nav-btn {
    content: "";
    border: 1px solid #B0C4DE;
    background-color: rgba(0, 0, 0, 0.514);   
    color:#B0C4DE;
    text-align: center;
    margin: 12px auto;
    min-width: 230px;
    font-family: 'Source Code Pro',  monospace; 
    font-size: .6em;   
    text-decoration: none;
    cursor: pointer;
    padding: 10px 18px;
    display: table;
    
}

.top-nav-btn:hover {

    background-color: #B0C4DE;
    color: white;
    
}

.top-nav-btn a:visited {

    color:#B0C4DE;

}





/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */

}

/* Modal Content */
.modal-content {
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
  color:#B0C4DE;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.modal-content a{
    font-size: 1.6em;
    font-stretch: 4px;
    text-decoration: underline;
    color: #ceff1d; // 101 - electriclime
}

.ad-tag{

    font-size: 1.4em;
    color: #ceff1d; // 101 - electriclime
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}



.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  background-color: #1a1110;
  padding: 8px;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
}

.grid-item {
  
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 18px;
  font-size: 1.1em;
  text-align: center;
  min-width: 100%;

}

  


   /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .footer,  .header{
        
        font-size: .5em;
        
    }
    
.logo {

  width: 100px;
    float: left;
  
}
    
  .top-nav-btn {
    
    font-size: .6em;   
    padding: 10px 16px;
    
}
    
        
    .grid-container {

  padding: 8px;
  margin-bottom: 0px;
        
}
  

    .grid-item {
      
      padding: 16px;
      font-size:  .8em;


    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 766px) {
    
    
  .footer,  .header{
        
        font-size: .9em;
        
    }
    
.logo {

  width: 160px;
    float: left;
  
}

  .top-nav-btn {

    
    font-size: 1.2em;   
    padding: 12px 18px;
    
}
  
    
    
    .grid-container {

  padding: 8px;
  margin-bottom: 10px;
        
}

    .grid-item {
      

      padding: 20px;
      font-size: 2.6em;


    }



}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  
  
  .top-nav-btn {

    
    font-size: 2.2em;   
    padding:22px 18px;
    
}
  

    .grid-item {
      

      padding: 22px;
      font-size: 2.8em;


    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...} 
